h1 {
    text-align: center;
}

.botoes{
    display:flex;
    align-items: center;
    flex-direction: column;
}

#sim {
    width: 110px;
    height: 60px;
}

#nao {
    width: 110px;
    height: 60px;
    margin-top: 20px;
}

.oculto {
    display: none;
}

h2 {
    text-align: center;
}

img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reiniciar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 30px;
}